*{  box-sizing: border-box;

}

/* import fonts */

@font-face {
  font-family: header;
  src: url(elliniaclm-lightitalic-webfont.ttf);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.grid-container {
  display: grid;

}

body {
  background-image: url(background.jpg);
  font-family: header;  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  margin: 0;    
}

.header {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: 
  ' connected connected connected bar-chart bar-chart  bar-chart ' ; 

}
.Header{
  margin: auto;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: header;
 
 }
 .Heading{
  width: 100%;
  font-size: 80px;
  text-align: center;
  font-weight: 700;
  color: rgb(65,25,0);
  font-family: header;
  background-color: rgb(189,126,74);
 }
  /*
 * demo styles
 */

@media screen and (min-width: 981px){
  
	html{
		font-size: 62.5%;
	}
}

@media screen and (min-width: 481px) and (max-width: 980px){
  
	html{
		font-size: 9px;
	}
}

@media screen and (max-width: 600px){
  
	html{
		font-size: 8px;
	}
}

body{
  background-image: url(lukas-blazek-EWDvHNNfUmQ-unsplash.jpg);
  	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", "Helvetica Neue", "Segoe UI", sans-serif;
	font-size: 1.6rem;
	margin: 0;
}

.demo{
	min-height: 470px;
  box-sizing: border-box;
  position: relative;

  padding-left: 1rem;
  padding-right: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.footer{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

a{
  color: #000;
}

a:focus{
	outline: 2px solid #fdde60;
}

a:hover{
    text-decoration: none;
}

.melnik909{
  margin-left: 2rem;
}

/*
 * CSS payment card
 */

.payment-card{
	width: 60rem;
}

.payment-card__footer{
	text-align: center;
	margin-top: 2rem;
}

.bank-card{
	position: relative;
}

@media screen and (min-width: 600px){

    .bank-card{
    	height: 30rem;
    }

    .bank-card__side{
    	border-radius: 10px;
    	border: 1px solid transparent;
		  position: absolute;
		  width: 65%;
    }

    .bank-card__side_front{
    	background-color: #f0f0ee;
    	padding: 5%;
    	box-shadow: 0 0 10px #f4f4f2;
    	border-color: #a29e97;

    	top: 0;
    	left: 0;
    	z-index: 3;
    }

    .bank-card__side_back{
    	background-color: #e0ddd7;
    	padding: 24.5% 5% 11%;
    	box-shadow: 0 0 2rem #f3f3f3;

    	text-align: right;
    	border-color: #dad9d6;

		  top: 12%;
    	right: 0;
    }

    .bank-card__side_back:before{
    	content: "";
    	width: 100%;
    	height: 25%;
    	background-color: #8e8b85;

    	position: absolute;
    	top: 14%;
    	right: 0;
    }
}

@media screen and (max-width: 600px){

    .bank-card__side{
        border: 1px solid #a29e97;
        background-color: #f0f0ee;
        padding-left: 5%;
        padding-right: 5%;
    }

    .bank-card__side_front{
        border-radius: 10px 10px 0 0;
        border-bottom: none;
        padding-top: 5%;
    }

    .bank-card__side_back{
        border-radius: 0 0 10px 10px;
        border-top: none;
        padding-bottom: 5%;
    }
}

.bank-card__inner{
	margin-bottom: 4%;
}

.bank-card__inner:last-child{
	margin-bottom: 0;
}

.bank-card__label{
	display: inline-block;
	vertical-align: middle;
}

.bank-card__label_holder, .bank-card__label_number{
	width: 100%;
}

@media screen and (min-width: 481px){

    .bank-card__month, .bank-card__year{
        width: 25%;
    }
}

@media screen and (max-width: 600px){

    .bank-card__month, .bank-card__year{
        width: 48%;
    }
}

@media screen and (min-width: 481px){

    .bank-card__cvc{
        width: 25%;
    }
}

@media screen and (max-width: 600px){

    .bank-card__cvc{
        width: 100%;
        margin-top: 4%;
    }
}

.bank-card__hint{
	position: absolute;
	left: -9999px;
}

.bank-card__caption{
	text-transform: uppercase;
	font-size: 1.1rem;
  margin-left: 1%;
}

.bank-card__field{
	box-sizing: border-box;
	border: 3px solid #d0d0ce;
	width: 100%;

	padding: 1rem;
	font-family: inherit;
	font-size: 100%;
}

.bank-card__field:focus{
	outline: none;
	border-color: #fdde60;
}

.bank-card__separator{
	font-size: 3.2rem;
	color: #c4c4c3;

	margin-left: 3%;
	margin-right: 3%;
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 480px){

    .bank-card__separator{
        display: none;
    }
}

@media screen and (min-width: 481px){

    .bank-card__footer{
        background-repeat: no-repeat;
        background-position: 78% 50%, 100% 50% ;
    }
}

@media screen and (max-width: 600px){

    .bank-card__footer{
        display: flex;
        justify-content: space-between;
    }
}

.payment-card__button{

  background-color: rgb(206,139,84);
  color: white;
  border-radius: 15px;
  margin: 8px 0;
  cursor: pointer;
  width: 30%;
  height: 5vh;
  border: solid rgba(131,80,46);
  font-family: header;
   font-size: 90%;
}

.payment-card__button:focus{
	outline: none;
	border-color: #fdde60;
}

.payment-card__button:hover, .payment-card__button:focus{
	background-color: #8e8b85;
}
.connected{
  background-color: rgb(206,139,84);
  color: white;
  border-radius: 15px;
  cursor: pointer;
   width: 10vh;
   height:7vh; 
   text-align: center;
  /* height: 30px; */
  border: solid rgba(131,80,46);
  margin-top: 0vh;
  margin-left: 3vh;
  grid-area:connected;
  font-family: header;
   position: center;
   font-size: 70%;
  
}
/*bubble menu*/

.bar-chart {
  -webkit-font-smoothing: antialiased;
  width:50vw; 
  grid-area: bar-chart;
  }
  
  .bar-chart ul {
  list-style: none;
  list-style-type: none;
  padding-bottom: 10px;
  margin: 0 auto;
  overflow: auto;
  width: 100vw;
  }
  
  .bar-chart li {
  float: left;
  margin-right: -10px;
  margin-top: -50px;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0. ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  }
  
  .bar-chart li:hover {
  margin-top: 0px;
  }
  
  .bar-chart li a {
  background: #D4B897 ;
  font-family: header;
  font-size: 100%;
  text-decoration: none;
  color: white;
  font-weight: normal;
  text-align: center;
  display: block;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 50%;
  width: 120px;
  height: 80px;

  padding: 60px 20px 55px 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.04);
  }
  
  .bar-chart li:hover a {
  padding: 36px 20px 60px 20px;
  }

/*FOOTER */

.footer {
    
  grid-column-start: 1;
 grid-column-end: 1; 
}

.footer-distributed{
 background: #D4B897;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 font: bold 16px header;
 text-align: center;
 overflow: hidden;
 padding-top: 3vh;
 padding-left: 5vw;
}
section {
 width: 100%;
 display: inline-block;
 background: #ccc;
 height: 60vh;
 text-align: center;
 font-size: 22px;
 font-weight: 700;
 text-decoration: underline;
}
.footer-distributed .footer-left{
 float: center;
}
.footer-distributed h3{
 color:  #ffffff;
 font: normal 36px header;
 margin: 0 0 10px;
}
.footer-distributed h3 span{
 font: normal 36px header;
 color:  #5383d3;
}
.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 0 0 10px;
 padding: 0;
}

.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 color:  inherit;
}

.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}

.footer-distributed .follow{
 color:  #e8edf3;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
 margin-top: 20px;
 margin-bottom: 20px;
}

.footer-distributed .footer-icons a{
 display: inline-block;
 width: 35px;
 height: 35px;
 cursor: pointer;
 background-color:  #33383b;
 border-radius: 100%;

 font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;

 margin-right: 3px;
 margin-bottom: 5px;
}

      @media (max-width: 600px) {
        
        .bar-chart li a {
          background: rgb(193, 154, 107);
          font-family: header;
          font-size: 70%;
          text-decoration: none;
          color: white;
          font-weight: normal;
          text-align: center;
          display: block;
          -moz-border-radius: 100%;
          -webkit-border-radius: 100%;
          border-radius: 50%;
          width: 70px;
          height: 50px;
          padding: 50px 20px 32px 20px;
          -webkit-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          -moz-box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.04);
          -webkit-box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.04);
          }
          
          .bar-chart li:hover a {
          padding: 18px 10px 30px 10px;
          }
        
          .bar-chart {
            -webkit-font-smoothing: antialiased;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            
            }
            .connected{
              background-color: rgb(206,139,84);
              color: white;
              border-radius: 15px;
              cursor: pointer;
               width: 7vh;
               height:3vh; 
               text-align: center;
              border: solid rgba(131,80,46);
              margin-top: 0vh;
              margin-left: 0vh;
              grid-area:connected;
              font-family: header;
               position: center;
               font-size: 50%;
              
            }
            .Heading{
              font-size: 50px;
              width: 100%;
            }
      
        }

